<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="index"></ion-back-button>
        </ion-buttons>
        <ion-title slot="end">Recibidos</ion-title>

    </ion-toolbar>
</ion-header>

<ion-content>

    <ion-card>
        <ion-card-header>
            <ion-card-title>Marcar como recibido</ion-card-title>
            <ion-card-subtitle>¿Como desea marcar como recibido el paquete?</ion-card-subtitle>
        </ion-card-header>

        <ion-card-content>
            <ion-img src="../assets/arrived.svg" class="ion-padding"></ion-img>
            <ion-button (click)="clickByTracking()" expand="block" shape="round">
                Ingresar numero de tracking
                <ion-icon name="cube-outline" class="ion-margin-start"></ion-icon>
            </ion-button>
            <ion-button (click)="clickByBarcode()" expand="block" shape="round" color="tertiary">
                Iniciar escaner
                <ion-icon name="scan-outline" class="ion-margin-start"></ion-icon>
            </ion-button>
        </ion-card-content>
    </ion-card>

</ion-content>